aside>div[aria-label="Explore repositories"]>div {
    height: 0;
    overflow: hidden;
}

#similar-repos-container .pinned-item-meta+.pinned-item-meta {
    margin-left: var(--base-size-16);
}

#similar-repos-inner-container>div {
    margin-bottom: var(--base-size-8);
}

#similar-repos-view-more {
    cursor: pointer;
}

#similar-repos-container .loading-spinner {
    width: .9rem;
    height: .9rem;
    position: relative;
    top: calc(.05rem + 1px);
    border: 1px solid var(--fgColor-default);
    border-bottom-color: white;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

#similar-repos-container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#simrepo-settings-btn .octicon {
    vertical-align: baseline;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
